html {
  scroll-behavior: smooth;
}
.bg-main {
 background-color: #202E78;
}
.jj {
 margin-left: 1px;
}

.font-kanit {
 font-family: 'Kanit', sans-serif !important;
}

/*.font-roboto {
 font-family: 'Roboto', sans-serif !important;
}*/

.font-playfair {
 font-family: 'Playfair Display', serif !important;
}

.overlay {
 height: 100%;
 width: 0;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 background-color: white;
 overflow-x: hidden;
 transition: 0.5s;
}

.overlay-content {
 position: relative;
 top: 25%;
 width: 100%;
 text-align: center;
 margin-top: 30px;
}


.overlay a {
 padding: 8px;
 text-decoration: none;
 font-size: 36px;
 display: block;
 transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
 color: #f1f1f1;
}

.overlay .closebtn {
 position: absolute;
 top:-20px;
 font-size: 60px;
}

.font-pink {
 color: #FFFFFF;
}

.hanberger {
 font-size:40px;
 cursor:pointer;
 color:white;
}

.bg-pink {
 background-color: #FF6C77 !important;
}

.navbar {
  margin-top: 0;
  padding: 0;
}

.font-white {
 color: white !important;
}

.get-help-btn {
  margin-top: 0.5rem;
 height: 50px;
 font-size: 20px;
}

.icon-size {
   width: 100%;
   margin-left: 7%;
}

.table-layout {
 table-layout: fixed !important;
 width: 100% !important;
 font-weight: bold;
 font-size: 20px;
}

.table td{
 border-bottom: 1px solid #dee2e6;
}

.sidenav {
 /*height: 200%;*/
 overflow-y: scroll;
 width: 0;
 height: 60rem;
 position: fixed;
 z-index: 2;
 top: 0;
 right: 0;
 background-color: white;
 overflow-x: hidden;
 transition: 0.5s;
 padding-top: 60px;
}

.sidenav a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #818181;
 display: block;
 transition: 0.3s;

}

.sidenav a:hover {
 color: #f1f1f1;
}

.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

.btn-gh {
  padding-right: 2rem !important;
}

.navbar-inverse.pt-5.px-5 {
 display: flex;
 overflow: visible;
 transform: translateY(0);
 position: relative;
/* text-align: center;*/
 align-items: center;
 justify-content: center;
 padding: 0.3rem !important;
 width: 20%;
 margin-right: 5%;
}

.navbar.navbar-expand-lg.navbar-light {
 width: 25%;
}

/*.p-header {
 display: grid;
 grid-template-columns: 20% auto auto;
 height: 100%;
}*/

.d-flex {
 display: grid;
}

.navbar-toggler{
  background-color: #FFFFFF !important;
  border: 1px solid #FFFFFF !important;

}

.navbar-toggler-icon {
  height: 1.2em !important;
}


.navbar-nav{
  padding-left: 7rem !important;
}
.navbar-list {
 width: 100%;
 font-family: 'Kanit', sans-serif;
}

.navbar-list-u {
 display: grid;
 grid-template-columns: auto auto auto auto;
 list-style-type: none;
 margin: 5%;
 padding: 0;
 /*overflow: hidden;*/
}

.navbar-list-l {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 15px;
}

#dropdown {
 position: relative;
 display: inline-block;
}

.sub-situation:hover {
 text-decoration: none;
 outline: none;
 color: #FF6C77 !important;
}

.dropdown-situation {
 display: none;
 position: absolute;
 background: #FF6C77;
 margin-left: 2.7rem;
 border-radius: .70rem;
 min-width: 240px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
 z-index: 3;
}

.dropdown-situation a {
 color: white;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

.dropdown-situation a:hover {background-color: white;
border-radius: .70rem;}

#dropdown:hover .dropdown-situation {display: block;}


.font-weight-bold {
 font-weight: bold;

}

.font-pink:hover {
 text-decoration: none;
 outline: none;
 color: #FF6C77;
}

.table-two:hover {
 text-decoration: none;
 outline: none;
 color: #FF6C77;
 /*font-size: 1.2rem;*/
}

.cover-one {
 display: grid;
 grid-template-columns:  45% 55%; 
}

.jumbotron {
 background-color: #202e78 !important;
 font-size: 6rem !important;
 margin-top: 3rem;
 margin-left: 10%;
 font-family: 'Playfair Display', serif;
 color: white;
 font-weight: 600 !important;
 /*z-index: 1;*/
 padding: 0 !important;
}

.my-4 {
 width: 10%;
 height: 15px;
 background-color:  #FF6C77;
 position: absolute;
 margin-left: 10%;
}

.my-4-t {
 font-family: 'Kanit', sans-serif !important;
 font-size: 1.5rem ;
 color: white;
 margin-top: 3%;
 margin-left: 10%;
}

/*.container#container2.onended {
 filter: blur(15px);
 pointer-events: none;
 user-select: none;
}*/

#displayend {
 display: grid;
 position: absolute;
 grid-template-columns: 50% 50%;
 margin-right: 20%;
 margin-left: 20%;
 padding: 50px;
 box-shadow: 0 5px 30px rgba(0,0,0,.30);
 background: white;
 text-align: center;
 margin-top: 1%;
 z-index: 1;
}

#displayimg-i {
 width: 95%;
 margin-top: 5%;

}

.videoplayon {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 z-index: 10000;
 background: rgba(0,0,0,0.95);
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 visibility: hidden;
 opacity: 0;
}

.imagesAR {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 z-index: 10000;
 background: rgba(0,0,0,0.95);
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 visibility: hidden;
 opacity: 0;
}

.videoplayon.active {
 visibility: visible;
 opacity: 1;
}

.imagesAR.active {
 visibility: visible;
 opacity: 1;
}

.videoplayon video {
 position: relative;
 max-width: 900px;
 outline: none;
}
.imagesARd {
 max-width: 500px;
 max-height: 500px;
}
.row-img {
 margin-top: 20%;
 margin-bottom: 15%;
}

.close {
 position: absolute;
 top: 30px;
 right: 30px;
 cursor: pointer;
 max-width: 50px;
}

#video-ar {
  
}
#text-vdo  {
 font-family: 'Kanit', sans-serif !important;
 margin-top: 5%;
 color: white !important;
}

#text-vdo1 {
 font-family: 'Kanit', sans-serif !important;
 font-size: 1.2rem;
 margin-right: 4%;
 color: white !important;
}

#container1 {
 position: relative;
 max-width: 85% !important;
 padding: 0 !important;
}

#container2 {
 position: relative;
 max-width: 85% !important;
 padding: 0.5em !important;
 border-radius: .4em ;
 box-shadow: 0 20px 10px 20px rgba(0,0,0,.5);
 margin-bottom: 3%;
}

.col-v {
  flex-basis: auto !important;

}

#container-video {
 width: 100%;
 height: auto;
 z-index: -1;
}

#container-video5 {
 width: 100%;
 height: auto;
 z-index: -1;
}

#playtext {
 position: absolute;
 font-family: 'Kanit', sans-serif !important;
 font-size: 1.5rem;
 color: black;
 font-weight: bold;
 margin: 0 auto !important;
 top: 60%;
 right: 0;
 left: 0;
 text-align: center;
}

#playpause_image {
 background-size: cover;
 background-repeat: no-repeat;
 width: 80px;
 height: 60px;
 position: absolute;
 left: 0; right: 0; bottom: 0; top: 0; margin: auto;
}

.cover-tt {
 background-color: white;
 width: 105%;
 height: 100%;
 font-family: 'Kanit', sans-serif;
 margin-top: 9%;
}

.cover-tt-graphic-img {
 /*object-fit: cover;*/
 object-fit: contain;
 width: 100%;
}

.my-6 {
 width: 80%;
 height: 15px;
 margin-left: 10%;
 margin-right: 10%;
 background-color: #202E78;
 position: absolute;
 margin-top: 3%;
}

.cover-tt-text {
 font-size: 1.5rem ;
 color: #202E78;
 margin-top: 5%;
 margin-left: 10%;
}

.row-blog {
 width: 80% !important;
 text-align: center !important;
 margin-left: 15% !important;
 margin-right: 10% !important;
}

.col-sm-blog {
 max-width: 380px !important;
 height: 450px;
 /*border-collapse: separate;
 border-spacing: 1.5rem !important;*/
 margin-left: 2%;
 padding: 1.5rem ;
 background: white ;
 position: relative !important;
 /*display: flex ;*/
 align-items: flex-end ;
 transition: 0.4s ease-out ;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.col-sm-blog-img {
 width: 100%;
}

.row-blog-button {
 background-color: #202E78;
 margin-left: 5%;
 height: 2.5rem;
 margin-top: 9%;
}

.row-blog-button-img {
 width: 2.5rem;
 height: 2.5rem;
}

.col-sm-blog-text {
 font-size: 1.3rem;
 margin-top: 2%;
}

.read-one {
 margin-top: 10%;
}

.my-7 {
 width: 80%;
 height: 2px;
 margin-left: 5%;
 background-color: #D6D6D6;
 position: absolute;
 /*margin-top: 5%;*/
}

.read-next {
 color: #D6D6D6;
 font-size: 1.3rem;
}

.my-8 {
 width: 80%;
 height: 2px;
 margin-left: 5%;
 background-color: #D6D6D6;
 position: absolute;
 /*margin-top: 15%;*/
}

.row-blog-ul {
 display: flex;
   right: 0;
   bottom: 0;
   left: 0;
   justify-content: center;
   padding-left: 0;
   margin-right: 15%;
   margin-left: 15%;
   margin-top: 2%;
   color: #D6D6D6;
   font-size: 2rem;
}

a.link-row {
 text-align: center !important;
 margin-left: 48%;
 font-size: 1.5rem;
 color: #AFAFAF;
}

.cover-tree {
 display: grid;
 grid-template-columns: 50% 50%;
 margin-top: 5%;
 padding:  5%;
}

.cover-tree-blog-img-i {
 object-fit: contain;
 margin-left: 15%;
 width: 80%;
 height: 70%;
}

.cover-tree-text {
 font-family: 'Kanit', sans-serif !important;
 background-color: white !important;
 color: #202E78 !important;
 margin-left: 10%;
 margin-right: 25%;
}

.lead-tree {
 font-size: 1.5rem;
}

.display-4-tree {
 font-size: 3.5rem;
}

.btn-lgf {
 font-family: 'Kanit', sans-serif !important;
 padding: .3rem 5rem !important;
 line-height: 3 !important;
 border-radius: 4rem !important;
 margin-top: 3% ;
 word-spacing: normal;
 background-color: #FF6C77 !important;
 border-color: #FF6C77 !important;
}

a.btn-lgf {
  color: #FFFFFF !important;
}

a.sub-situation{
 color: #fff !important;
}

.btn-lgg {
 font-family: 'Kanit', sans-serif !important;
 padding: .3rem 5rem !important;
 line-height: 3 !important;
 border-radius: 4rem !important;
 margin-top: 5% ;
 background-color: #696969	 !important;
 border-color: #696969	 !important;
 margin-right: 60%;
}

.display-5 {
 color: #DAD9D9 !important;
 font-size: 3rem;
}

.lead {
 font-family: 'Kanit', sans-serif !important;
 font-size: 1.10rem !important;
 color: #DAD9D9 !important;
}

.lead-v {
 font-family: 'Kanit', sans-serif !important;
 font-size: 1.10rem !important;
 color: #DAD9D9 !important;
 padding-right:  7rem;
 padding-left: 12rem;
 padding-bottom: 2rem;
}

.end-cd {
  margin-top: 5rem;
  padding-left: 15rem;
  padding-bottom: 10rem;
  font-size: 1.5rem;
}

.btn-lg {
 /*padding: .1rem 4rem !important;*/
 font-size: 1rem !important;
 line-height: 3 !important;
 border-radius: 4rem !important;
 word-spacing: normal;
 font-family: 'Kanit', sans-serif !important;
 background-color: #FF6C77 !important;
 border-color: #FF6C77 !important;
}

.cover-one-img {
 display: grid;
 grid-template-columns: auto auto auto;
 grid-template-rows: auto auto;
 z-index: -1;
 -webkit-animation: cover-one-img 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
         animation: cover-one-img 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
/* background: url(images/logo/homepage_element_bg-03.png) no-repeat center;*/
}

@-webkit-keyframes cover-one-img {
 0% {
   -webkit-transform: scaleX(0.4);
           transform: scaleX(0.4);
 }
 100% {
   -webkit-transform: scaleX(1);
           transform: scaleX(1);
 }
}
@keyframes cover-one-img {
 0% {
   -webkit-transform: scaleX(0.4);
           transform: scaleX(0.4);
 }
 100% {
   -webkit-transform: scaleX(1);
           transform: scaleX(1);
 }
}
.cover-one-img-m {
 width: 90%;
 grid-column-start: 1;
 grid-column-end: 3;
 grid-row-start: 1;
 grid-row-end: 2;
 /*-webkit-animation: cover-one-img-m 5s cubic-bezier(0.455, 0.030, 0.515, 0.955)  both;
         animation: cover-one-img-m 5s cubic-bezier(0.455, 0.030, 0.515, 0.955)  both;*/
}

.cover-one-img-k {
 width: 80%;
 grid-column-start: 1;
 grid-column-end: 2;
 grid-row: 1;
 margin-left: 40%;
 -webkit-animation: cover-one-img-k 0.5s ease-in-out 3 both;
         animation: cover-one-img-k 0.5s ease-in-out 3 both;
}

@-webkit-keyframes cover-one-img-k {
 0% {
   -webkit-transform: scale(1);
           transform: scale(1);
 }
 50% {
   -webkit-transform: scale(0.9);
           transform: scale(0.9);
 }
 100% {
   -webkit-transform: scale(1);
           transform: scale(1);
 }
}
@keyframes cover-one-img-k {
 0% {
   -webkit-transform: scale(1);
           transform: scale(1);
 }
 50% {
   -webkit-transform: scale(0.9);
           transform: scale(0.9);
 }
 100% {
   -webkit-transform: scale(1);
           transform: scale(1);
 }
}
.cover-one-img-p {
 width: 100%;
 grid-column-start: 2;
 grid-column-end: 3;
 grid-row: 1;
 margin-top: 60%;
 margin-right: 15%;
 -webkit-animation: cover-one-img-p 0.8s 3 both;
         animation: cover-one-img-p 0.8s 3 both;
}

@-webkit-keyframes cover-one-img-p {
 0%,
 100% {
   -webkit-transform: translateX(0%);
           transform: translateX(0%);
   -webkit-transform-origin: 50% 50%;
           transform-origin: 50% 50%;
 }
 15% {
   -webkit-transform: translateX(-30px) rotate(6deg);
           transform: translateX(-30px) rotate(6deg);
 }
 30% {
   -webkit-transform: translateX(15px) rotate(-6deg);
           transform: translateX(15px) rotate(-6deg);
 }
 45% {
   -webkit-transform: translateX(-15px) rotate(3.6deg);
           transform: translateX(-15px) rotate(3.6deg);
 }
 60% {
   -webkit-transform: translateX(9px) rotate(-2.4deg);
           transform: translateX(9px) rotate(-2.4deg);
 }
 75% {
   -webkit-transform: translateX(-6px) rotate(1.2deg);
           transform: translateX(-6px) rotate(1.2deg);
 }
}
@keyframes cover-one-img-p {
 0%,
 100% {
   -webkit-transform: translateX(0%);
           transform: translateX(0%);
   -webkit-transform-origin: 50% 50%;
           transform-origin: 50% 50%;
 }
 15% {
   -webkit-transform: translateX(-30px) rotate(6deg);
           transform: translateX(-30px) rotate(6deg);
 }
 30% {
   -webkit-transform: translateX(15px) rotate(-6deg);
           transform: translateX(15px) rotate(-6deg);
 }
 45% {
   -webkit-transform: translateX(-15px) rotate(3.6deg);
           transform: translateX(-15px) rotate(3.6deg);
 }
 60% {
   -webkit-transform: translateX(9px) rotate(-2.4deg);
           transform: translateX(9px) rotate(-2.4deg);
 }
 75% {
   -webkit-transform: translateX(-6px) rotate(1.2deg);
           transform: translateX(-6px) rotate(1.2deg);
 }
}

.cover-one-img-b {
 width: 100%;
 grid-column-start: 1;
 grid-column-end: 3;
 grid-row-start: 1;
 grid-row-end: 2;
}

.content-one-graphic-img {
 /*object-fit: cover;*/
 object-fit: contain;
 width: 100%;
}

.content-one-img-i {
 object-fit: cover;
 object-fit: contain;
 width: 100%;
}

.content-one-text-h {
 margin-top: 5%;
}

.content-one {
 text-align: center;
 background-color: white;
 width: 100%;
 height: 100%;
 font-family: 'Kanit', sans-serif;
}

.content-one-text-c {
 margin-bottom: 20px;
 margin-top: 5%;
 margin-right: 25%;
 margin-left: 25%;
 font-size: 20px;
}

.content-one-text-h, .content-one-h {
 font-weight:  700;
 line-height: 70px;
}

.content-one-h{
 margin-top: 3%;
}

.content-one-t {
 text-align: center;
 background-color: white;
 max-width: 100%;
 font-family: 'Kanit', sans-serif;
}

.pagination {
 margin-top: 5%;
 margin-left: 60%;
 margin-right: 10%;
}

.pagination-next {
 display: grid;
 grid-template-rows: auto auto;
 list-style-type: none;
 padding: 15px;
}

.pagination-next-t {
 display: block;
 text-align: right;
 padding: 10px;
 color: #FF6C77;
 text-decoration: none;
 font-size: 20px;
}

.pagination-next-t:hover {
 font-size: 22px;
 text-decoration: none;
 outline: none;
 color: #FF6C77;
}


.content-input {
 font-family: 'Kanit', sans-serif;
 display:  flex; 
 flex-direction:  column;
/* align-items:  flex-start; */
 margin-left: 9%; 
 width:  70%;
}

/*.container-maind {
  max-width: 100% !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
*/
.container-main-bg-w {
  font-family: 'Kanit', sans-serif !important;
  position: relative;
  background-color: white !important;
  max-width: 100%;
  z-index: -1;
}

.main-text {
  text-align: center;
  color: #202E78;
  padding: 3rem;
  font-size: 3rem;
}

.row-content-m {
  z-index: 0;
  color: #202E78;
  margin-right: 5% !important;
  margin-left: 5% !important;
  padding: 5rem !important;
}

.col-para {
  padding-left:  5rem !important;
  padding-right:   5rem !important;
}

.main-content-p {
  margin-top: 6rem;
}

.main-content-l {
  margin-top: 6rem;
}



.main-content-link{
  color: #202E78 !important;
  text-decoration: underline !important;
}

.content-main-img {
  padding: 3rem;
}

.d-block {
  box-sizing: border-box !important;
  padding-right: 7rem;
  padding-left: 7rem;
}

.carousel-control-prev-icon .carousel-control-next-icon {
  color: #202E78 !important;
}

.table-th {
 text-align: center;
 table-layout: fixed !important;
 width: 80% !important;
 margin-top: 5% !important;
 margin-right: 10% !important;
 margin-left: 10% !important;
}

#video-ar {
 width: 100%;
}

.footer-main {
 text-align: center;
 color: white;
 font-family: 'Kanit', sans-serif;
}

.footer-brand {
 width: 100%;
 margin-top: 3%; 
}

.footer-brand-img {
 width: 15%;
 
}

.footer-contect{
 display: grid;
 grid-template-columns:  auto auto; 
 padding-left: 45%;
 padding-right: 45%;
}

.footer-contect-img {
 list-style-type: none;
 width: 100%;
 height: 100%;
}

.footer-contect-p {
 font-size: 20px;
}

.footer-contect-t, .footer-contect-e, .footer-contect-p {
 margin-top: 10px; 
 text-align: center;
}

.footer-contect-e {
 margin-bottom: 5%;
}

.footer-contect-t-img {

 width: 50px;
 height: 50px;
}

.footer-contect-e-img {
 width: 50px;
 height: 50px;
}

@media only screen and (min-width: 600px) {
  .img-mm{
    width: 450px ;
    height: 450px ;
   }
}

@media only screen and (min-width: 800px) {
  .img-mm{
    width: 600px ;
    height: 600px ;
   }
} 

@media only screen and (max-width: 600px) {
   .navbar-li {
      padding-left: 3rem !important;
   }
   .navbar.navbar-expand-lg.navbar-light {
      width: 45%;
   }
   .btn-lg {
      margin-left: 60%;
      font-size: 0.5rem !important;
     line-height: 3 !important;
     border-radius: 2rem !important;
   }
   
   .navbar-inverse.pt-5.px-5 {
      padding: 0.1rem !important;
      width: 25%;
      margin-right: 5%;
   }
   .get-help-btn {
    font-size: 0.8rem !important;
    margin: 0;
    height: 70px;
   }
   .jumbotron{
    padding:  0 !important;
    margin-left: 15%;
    padding-bottom: 0 !important;
   }
    .col-6 {
    flex: 50%;
    max-width: 100%;
  }
   #btn-lg {
    padding: 0.6rem;
    margin-left: 1%;
  }
  a#btn-lg {
    font-size: 0.5rem !important;
  }
  .my-4-t {
    font-size: 1.2rem;
   margin-top: 7% ;
  }
  .my-4 {
    width: 30%;
    height: 5px;
  }
  .lead-v {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 0;
    font-size: 0.6rem !important;
  }
  #playtext {
    font-size: 0.6rem !important;
  }
  .row-blog {
  margin-left: 10% !important;
  }
  .col-sm-blog {
    height: 380px;
  }
  .col-sm-blog-text{
    font-size: 1rem;
  }
  .display-4-tree {
    font-size: 2rem;
  }
  .lead-tree {
    font-size: 1.5rem;
  }
  .btn-lgf {
    padding: .2rem 3rem !important;
  }
   .table-layout {
    font-size: 12px;
   }
   .font-weight-bold {
    font-size: 20px;
   }
   a.table-two{
    font-size: 12px;
    padding: 0 !important;
   }
   .table td, .table th {
    padding: 0 !important;
   }
   .main-text {
    font-size: 1rem !important;
    padding: 1rem !important;
   }
   .row-content-m {
    margin-left: 0 !important;
    padding: 2rem !important;
   }
   .col-para {
    padding-right: 0 !important;
    padding-left: 2rem !important;
   }
   .main-content-l {
    margin-top:  2rem;
    margin-bottom:  2rem;
   }
   .footer-contect-t, .footer-contect-e, .footer-contect-p {
    font-size: 0.8rem;
  }
  
  #text-vdo {
    font-size: 1.5rem;
  }
  #text-vdo1 {
    font-size: 0.8rem;
  }
  #displayend {
    margin-left: 7.5%;
    padding: 30px;
  }
  .btn-lgg {
    padding: 0 !important;
  }
  .end-cd {
    padding-bottom:  1rem !important;
    margin-top:   1rem !important;
    font-size: 0.6rem !important;
   }
   .d-block {
    padding-right: 5rem;
    padding-left: 5rem;
   }
}


@media only screen and (max-width: 560px) {
  .navbar-inverse.pt-5.px-5 {
      padding: 0.1rem !important;
      width: 25%;
      margin-right: 5%;
   }
   .navbar.navbar-expand-lg.navbar-light {
      width: 40%;
   }
   .get-help-btn {
    font-size: 0.5rem !important;
    margin: 0;
    padding : 0 !important;
   }
   a#btn-lg {
    font-size: 0.3rem !important;
  }
   .jumbotron{
    padding:  0 !important;
    margin-left: 15%;
    padding-bottom: 0 !important;
   }
  .col-6 {
    flex: 50%;
    max-width: 100%;
  }
  .my-4-t {
    font-size: 1.2rem;
   margin-top: 7% ;
  }
  .my-4 {
    width: 30%;
    height: 5px;
  }
  .lead-v {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 0;
    font-size: 0.6rem !important;
  }
  #playtext {
    font-size: 0.4rem !important;
  }
  .cover-tt-text {
    font-size: 1rem;
  }
  .my-6 {
    height: 5px;
  }
  .row-blog {
    margin-left: 10% !important;
  }
  .col-sm-blog-text {
    font-size: 1rem;
  }
  .col-sm-blog {
    height: 400px;
  }
  a.link-row {
    margin-left: 45%;
  }
  .display-4-tree {
    font-size: 1rem;
  }
  .lead-tree {
    font-size: 0.8rem;
  }
   .table-layout {
    font-size: 12px;
   }
   .font-weight-bold {
    font-size: 20px;
   }
   a.table-two{
    font-size: 12px;
    padding: 0 !important;
   }
   .table td, .table th {
    padding: 0 !important;
   }
   .main-text {
    font-size: 1.5rem;
    padding: 3rem;
   }
   .row-content-m {
    margin-left: 0 !important;
    padding: 2rem !important;
   }
   .col-para {
    padding-right: 0 !important;
    padding-left: 2rem !important;
   }
   .img-mm{
    width: 250px;
    height: 250px;
   }
   .main-content-head {
    font-size: 1.5rem !important;
   }
   .main-content-p {
    margin-top: 2rem;
    font-size: 0.8rem;
   }
   .main-content-l {
    margin-top:  2rem;
    margin-bottom:  2rem;
   }
  
  #text-vdo {
    font-size: 1rem !important;
  }
  #text-vdo1 {
    font-size: 0.8rem !important;
  }
  .btn-lgf {
    padding: .3rem .9rem !important;
    font-size: 0.7rem !important;
  }
  .btn-lgg {
    font-size: 0.7rem !important;
  }
  #displayend {
    margin-left: 0.5%;
    padding: 30px;
  }
  .content-one-h {
    font-size: 1rem !important;
  }
  a.table-two{
    font-size: 0.6rem !important;
  }
  #btn-lg {
    padding: 0.6rem 0rem !important;
    margin-left: 1%;
  }
}

@media only screen and (max-width: 400px) {
  #btn-lg {
    padding: 0.3rem;
  }
  a#btn-lg {
    font-size: 0.15rem !important;
  }
  .jumbotron{
    padding:  0 !important;
    margin-left: 12%;
    padding-bottom: 0 !important;
   }
   .cover-one {
    display: block !important;
   }
   .cover-one-text {
    width: 80% !important;
   }
  .col-6 {
    flex: 50% !important;
    max-width: 100% !important;
  } 
  .my-4-t {
    font-size: 1rem;
   margin-top: 7% ;
  }
  .my-4 {
    width: 30%;
    height: 5px;
  }
  .lead-v {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0;
    font-size: 0.4rem !important;
  }
  #playtext {
    font-size: 0.15rem !important;
  }
  .cover-tt-text {
    font-size: 1rem;
  }
  .my-6 {
    height: 5px;
  }
  .row-blog {
    margin-left: 10% !important;
  }
  .col-sm-blog-text {
    font-size: 1rem;
  }
  .col-sm-blog {
    height: 350px;
  }
  a.link-row {
    margin-left: 42%;
  }
  .display-4-tree {
    font-size: 1rem;
  }
  .lead-tree {
    font-size: 0.8rem;
  }
}


@media only screen and (max-width: 450px) {
  .navbar-inverse.pt-5.px-5 {
      padding-top: 0rem !important;
      width: 25%;
      margin-right: 5%;
   }
   .get-help-btn {
    /*font-size: 0.8rem !important;*/
    margin: 0;
    padding: 0 !important;
   }

   .table-layout {
    font-size: 12px;
   }
   .font-weight-bold {
    font-size: 20px;
   }
   a.table-two{
    font-size: 12px;
    padding: 0 !important;
   }
   .table td, .table th {
    padding: 0 !important;
   }
   .main-text {
    font-size: 1.5rem;
    padding: 3rem;
   }
   .row-content-m {
    margin-left: 0 !important;
    padding: 2rem !important;
   }
   .col-para {
    padding-right: 0 !important;
    padding-left: 2rem !important;
   }
   
   .main-content-l {
    margin-top:  2rem;
    margin-bottom:  2rem;
   }
   
  #text-vdo {
    font-size: 1rem !important;
  }
  #text-vdo1 {
    font-size: 0.6rem !important;
  }
  .end-cd {
    font-size: 0.5rem !important;
  }
  .table-tr {
    font-size: 9px !important;
   }
}


@media only screen and (max-width: 768px) {
  .btn-lg {
      margin-left: 60%;
      font-size: 0.2rem !important;
     line-height: 3 !important;
     border-radius: 2rem !important;
   }
   
   .navbar-inverse.pt-5.px-5 {
      padding: 0.1rem !important;
      width: 25%;
      margin-right: 5%;
   }
   .get-help-btn {
    font-size: 0.8rem !important;
    margin: 0;
    height: 60px;
   }
   .jumbotron {
    margin-top: 0;
    padding : 0 !important;
   }
   .display-4 {
    font-size: 2rem !important;
   }
   .display-5 {
    font-size: 1.5rem !important;
   }
   .lead {
    font-size: 0.8rem !important;
   }
   .btn-lg {
     padding: 0.6rem;
    margin-left: 1%;
    margin-left : 0 !important;
   }
   .my-4 {
    width: 25%;
    height: 10px;
   }
   .my-4-t {
    font-size: 1.3rem ;
    margin-top: 9%;
   }
   .row-viin {
    display: block !important;
   }
   .lead-v {
    font-size: 0.5rem !important;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 0;
   }
   
   .table-layout {
    font-size: 15px;
   }
   .font-weight-bold {
    font-size: 30px;
   }
   a.table-two{
    font-size: 15px;
    padding: 0 !important;
   }
   .table td, .table th {
    padding: 0 !important;
   }
   .footer-brand-img {
    width: 30%;
  }
    .footer-contect{
     padding-left: 35%;
     padding-right: 35%;
    }
    #playtext {
    font-size: 0.8rem;
  }
  #text-vdo {
    font-size: 1.7rem;
  }
  #text-vdo1 {
    font-size: 1rem;
  }
  #displayend {
    margin-left: 10%;
  }
  .end-cd {
    padding-bottom: 3rem;
    font-size: 1rem;
   }
   .content-one-h {
    font-size: 1.5rem;
  }
  .row-blog {
    margin-left: 10% !important;
  }
  .col-sm-blog{
    height: 400px;
  }
  .col-sm-blog-text {
    font-size: 1.1rem;
  }
  .display-4-tree {
    font-size: 1.5rem;
  }
  .lead-tree {
    font-size: 0.8rem;
  }
  .btn-lgf {
    padding: .6rem 4rem !important;
  }
}

@media only screen and (min-width: 768px) {
 .sidenav {
    /*height: 500%;*/
    padding-top: 40px;
 }
 #playtext {
  font-size: 1rem;
 }
 }

 @media only screen and (max-width: 800px) {
 .btn-lgf {
    padding: 0.3rem 0.5rem !important;
  }
 }

@media only screen and (min-width: 700px) {
 .sidenav {
    /*height: 500%;*/
    padding-top: 40px;
 }
 .img-mm{
    width: 500px;
    height: 500px;
   }
   .lead-v {
    font-size: 1rem !important;
    padding-right: 7rem;
    padding-left: 7rem;
    padding-bottom: 0;
   }

}



@media only screen and (max-width: 992px) {

  .btn-lg {
      margin-left: 60%;
      font-size: 0.2rem !important;
     line-height: 3 !important;
     border-radius: 2rem !important;
   }
   .navbar.navbar-expand-lg.navbar-light {
      width: 45%;
   }

   .navbar-inverse.pt-5.px-5 {
      padding: 0.4rem 0.1rem !important;
      width: 25%;
      margin-left: 65% !important;
    } 
   .get-help-btn {
    font-size: 0.7rem !important;
    margin: 0;
   }
   .jumbotron {
    margin-top: 0;
    padding : 0 !important;
   }
   .display-4 {
    font-size: 1.5rem !important;
   }
   .display-5 {
    font-size: 0.8rem !important;
   }
   .lead {
    font-size: 0.5rem !important;
   }
   .btn-lg {
     padding: 0.8rem 0.1rem !important;
    margin-left: 1%;
    margin-left : 0 !important;
   }
   a#btn-lg {
    font-size: 0.6rem !important;
   
   }
   .my-4 {
    height: 10px;
   }
   
   
   .table-layout {
    font-size: 18px;
   }
   .font-weight-bold {
    font-size: 35px;
   }
   a.table-two{
    font-size: 15px;
   }

   .table-tr {
    padding: 0 !important;
   }
   .table td, .table th {
    padding: 0 !important;
   }
   .footer-brand-img {
    width: 30%;
  }
    .footer-contect{
     padding-left: 35%;
     padding-right: 35%;
    }
   #displayend {
    margin-left: 10%;
  }
  .d-block {
    padding-right: 2rem;
    padding-left: 2rem;
   }
   .end-cd {
    padding-left: 7rem;
   }
     .row-blog {
    margin-left: 10% !important;
   }
}

@media only screen and (max-width: 1300px) {
  .navbar-list-l {
    font-size: 12px;
    padding: 2px 2px;
  } 
  .navbar-nav {
    padding-left: 2.5rem !important;
  }
  .get-help-btn {
    margin-top: 0;
  }
  .main-text {
    font-size: 2rem;
    padding: 3rem;
   }
   .end-cd {
    padding-bottom: 5rem;
   }
  /* #carouselExampleIndicators {
    padding: 1rem;
   }*/
}

@media only screen and (max-width: 1500px) {
  /*.display-4 {
    font-size: 3rem;
  }

  .display-5 {
    font-size: 2.5rem;
  }

  .lead {
    font-size: 1rem ;
  }*/

  a.table-two{
    font-size: 15px;
   }
   .get-help-btn {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar-list-l {
    font-size: 13px;
    padding: 2px 2px;
  } 
  .navbar-nav {
    padding-left: 2rem !important;
  }
  .get-help-btn {
    margin-top: 0;
  }
  /*.display-4 {
    font-size: 2.5rem !important;
  }

  .display-5 {
    font-size: 2rem !important;
  }

  .lead {
    font-size: 0.8rem !important;
  }*/
  .table-layout {
    font-size: 20px;
   }
   .font-weight-bold {
    font-size: 35px;
   }
   a.table-two{
    font-size: 18px;
   }

   .table-tr {
    font-size: 13px;
    padding: 0 !important;
   }
   .table td, .table th {
    padding: 0 !important;
   }
   #displayend {
    margin-left: 5%;
  }
  .content-one-h {
    font-size: 2rem;
  }
}


